:root {
    --screenMdMin: 960px;
}

@custom-media --small (width <= 960px);

@media (--small) {
    .threeGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .grid .grid__item:first-child {
        grid-row: span 1;
    }
}