:root {
    --colorOne: #d5ecf4;
    --colorTwo: #e5efd9;
    --colorThree: #fcf8c0;
    --colorFour: #ebebeb;
    --colorFive: #f4c5c3;
    --colorSix: #e4efd8;
    --colorSeven: #fcf8c0;
    --linkcolor: #34495e;
    --category: #95a5a6;
    --article: #7f8c8d;
    --highlight: #2c3e50;
}
* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style: none;
}
ul, li {
    margin: 0;
    padding: 0;
}
.threeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header {
    margin-top: 50px;
    margin-bottom: 150px;
    grid-template-columns: repeat(4, 1fr);
}

.header h1 {
    margin-top: 0;
    font-size: 60px;
}

.header .header__column {
    display: flex;
    justify-content: space-around;
}

.header__nav span {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgba(0,0,0,0.4);
}
.header__nav li {
    margin-bottom: 10px;
}
.header__nav li:last-child {
    margin-bottom: 0;
}

.grid {
    grid-auto-rows: 30vh;
    grid-gap: 10px;
}

.grid .grid__item {
    background-size: cover;
    background-position: center center;
}
.grid .grid__item {
    display: flex;
}
.grid .grid__item .column {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.grid .grid__item .column span {
    color:var(--category);
    font-weight: 300;
    font-size: 15px;
}
.grid .grid__item .column p {
    color:var(--article);
    margin-top: 0;
    line-height: 22px;
    font-weight: 300;
}
.grid .grid__item .column a {
    color:var(--linkcolor);
    text-decoration: none;
    margin-top: 53vh;
    display: block;
    position: absolute;
    box-sizing: border-box;
}
.grid .grid__item .column .describe {
    color:var(--article);
    margin-top: 5vh;
    font-size: 16px;
    font-weight: 300;
}

.grid .grid__item:first-child {
    grid-row: span 2;
    background-color:var(--colorOne);
}
.grid .grid__item:nth-child(2) {
    grid-area: span 2 / span 2;
    background-image: url(http://www.ikea.com/ms/media/rooms/20193/living_room/20193_rmli03a/20193_rmli03a_01_PH157835.jpg);
}
.grid .grid__item:nth-child(3) {
    background-color:var(--colorTwo);
}
.grid .grid__item:nth-child(4) {
    grid-row: span 2;
    background-image: url(http://www.ikea.com/ms/media/rooms/20191/home_office/20191_rmoh02a/20191_rmoh02a_01_PH153168.jpg);
}
.grid .grid__item:nth-child(5) {
    background-color:var(--colorThree);
}
.grid .grid__item:nth-child(6) {
    background-color:var(--colorFour);
}
.grid .grid__item:nth-child(7) {
    background-image: url(https://www.ikea.com/ms/img/ads/vitality/20193/message_in_product_list/seo_image/ikea-ivar__20193_semp41a_01_PH157400.jpg);
}
.grid .grid__item:nth-child(8) {
    grid-area: span 2 / span 2;
    background-color:var(--colorFive);
}
.grid .grid__item:nth-child(9) {
    grid-area: span 2;
    background-image: url(http://www.ikea.com/ms/media/rooms/20193/bedroom/20193_rmbe01a/20193_rmbe01a_01_PH158683.jpg);
}
.grid .grid__item:nth-child(10) {
    grid-area: span 2 / span 2;
    background-image: url(http://www.ikea.com/ms/media/rooms/20193/bedroom/20193_rmbe04a/20193_rmbe04a_01_PH158081.jpg);
}
.grid .grid__item:nth-child(11) {
    background-image: url(http://www.ikea.com/ms/media/rooms/20193/bedroom/20193_rmbe05a/20193_rmbe05a_01_PH158373.jpg);
}
.grid .grid__item:nth-child(12) {
    background-image: url(http://www.ikea.com/ms/media/rooms/20193/bedroom/20193_rmbe10a/20193_rmbe10a_01_PH156934.jpg);
}
.grid .grid__item:nth-child(13) {
    grid-area: span 2 / span 2;
    background-color:var(--colorSix);
}
.grid .grid__item:nth-child(14) {
    background-image: url(http://www.ikea.com/ms/media/rooms/20192/hallway/20192_rmha02a/20192_rmha02a_01_PH154688.jpg);
}
.grid .grid__item:last-child {
    background-color:var(--colorSeven);
}
/*
@custom-media --medium (450px <= width < 961px);
@media (--medium) {
	.grid .grid__item:first-child {
		grid-row: span 1;
	 }
}
*/

@media (max-width: 960px) {
    .header {margin-bottom: 60px;}
    .grid .grid__item:first-child {grid-row: span 1;}
    .grid .grid__item:first-child .column h1, .grid .grid__item:nth-child(6) .column h1,
    .grid .grid__item:nth-child(8) .column h1, .grid .grid__item:nth-child(13) .column h1 {font-size: 29px;}
    .grid .grid__item:first-child .column p, .grid .grid__item:nth-child(6) .column p,
    .grid .grid__item:nth-child(8) .column p, .grid .grid__item:nth-child(13) .column p {font-size: 16px; line-height: 19.5px;}
    .grid .grid__item:first-child .column a {top: -60px; font-size: 14px;}

    .grid .grid__item:nth-child(3) .column .describe, .grid .grid__item:nth-child(5) .column .describe {font-size: 14px; margin-top: 3vh; line-height: 18px;}

    .grid .grid__item:nth-child(7) {grid-column: span 2;}
    .grid .grid__item:nth-child(8) {grid-area: span 1 / span 2;}
    .grid .grid__item:nth-child(8) .column a {margin-top: 22.8vh; font-size: 14px;}
    .grid .grid__item:nth-child(9) {grid-area: span 1;}

    .grid .grid__item:nth-child(13) {grid-area: span 1 / span 1;}
}

@media (max-width: 640px) {
    .grid {grid-auto-rows: 23vh;}
    .grid .grid__item:first-child, .grid .grid__item:nth-child(13) {grid-column: span 3;}
    .grid .grid__item:first-child .column h1 {margin: 10px 0px 10px 0px;}
    .grid .grid__item:first-child .column a {top: -130px;}

    .grid .grid__item:nth-child(3) .column {padding: 30px;}
    .grid .grid__item:nth-child(3) .column .describe,
    .grid .grid__item:nth-child(5) .column .describe {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .grid .grid__item:nth-child(4) {grid-row: span 1;}
    .grid .grid__item:nth-child(7) {grid-column: span 1;}
    .grid .grid__item:nth-child(14) {grid-column: span 2;}
}

@media (max-width: 480px) {
    * {box-sizing: border-box;}
    .grid {box-sizing: border-box;}
    .grid .grid__item:nth-child(2) {grid-area: span 1 / span 3;}
    .grid .grid__item:nth-child(3), .grid .grid__item:nth-child(4), .grid .grid__item:nth-child(5),
    .grid .grid__item:nth-child(6), .grid .grid__item:nth-child(7), .grid .grid__item:nth-child(8),
    .grid .grid__item:nth-child(9), .grid .grid__item:nth-child(10), .grid .grid__item:nth-child(11),
    .grid .grid__item:nth-child(12), .grid .grid__item:nth-child(13), .grid .grid__item:last-child {grid-column: span 3;}
    .grid .grid__item:nth-child(14) {grid-area: span 2 / span 3;}

    .grid .grid__item:first-child .column, .grid .grid__item:nth-child(3) .column, .grid .grid__item:nth-child(5) .column,
    .grid .grid__item:nth-child(6) .column, .grid .grid__item:nth-child(8) .column, .grid .grid__item:nth-child(13) .column {padding: 20px;}

    .grid .grid__item:first-child .column h1, .grid .grid__item:nth-child(6) .column h1, .grid .grid__item:nth-child(8) .column h1,
    .grid .grid__item:nth-child(13) .column h1 
    {font-size: 26px; margin: 7px 0px 7px 0px;}

    .grid .grid__item:first-child .column p, .grid .grid__item:nth-child(6) .column p, .grid .grid__item:nth-child(8) .column p, .grid .grid__item:nth-child(3) .column .describe, .grid .grid__item:nth-child(5) .column .describe
    {font-size: 14px; line-height: 15px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

    .grid .grid__item:first-child .column a {top: -37px;}
    .grid .grid__item:nth-child(8) .column a {margin-top: 15.6vh;}
    .grid .grid__item:nth-child(8) .column p {font-size: 14px; line-height: 15px;}
}